/police\ beat/tigerline\ data/census\ tract info/
/police\ beat/tigerline\ data/census\ block info/
/police\ beat/tigerline\ data/tl_2021_29_tabblock20/
/police\ beat/tigerline\ data/tl_2021_29_tract/
/CPD_data_dashboard/rsconnect/
/CPD_data_dashboard/leaflets/